@{
  Layout = "_Layout";
}

@using DataBase.Models;
@model DataBase.Models.Stylist;

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<ul>
@if (@Model.Clients.Count() == 0)
{
  <p>no clients found</p>
}

@foreach (Client client in Model.Clients)
{
  <li>Description: @client.Description</li>
}
</ul>

<p>@Html.ActionLink("Back to the stylists", "Index")</p>
<p>@Html.ActionLink("Edit a Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete a Stylist", "Delete", new { id = Model.StylistId })</p>